@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/Inter.ttf') format('truetype')
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/Montserrat.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins';
    src: url('/src/assets/fonts/Poppins.ttf') format('truetype')
}

.nav-text {
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-item-mobile:hover{
    color: rgb(209 213 219);
}

.nav-item:hover {
    color: rgb(209 213 219);
}

.active {
    color:purple;
}